In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data=np.array([1,2,3,4,5,6,7,8,9,10])
data2=data[(data>5) & (data<8)]
print(data2)

[6 7]

In [2]:
from sklearn.datasets import make_classification
x,y=make_classification(n_samples=1000,n_features=2,n_classes=2,n_clusters_per_class=1,n_redundant=0)

In [3]:
df = pd.DataFrame(x, columns=['Feature 1', 'Feature 2'])
df['Target'] = y

In [4]:
df.head()

   Feature 1  Feature 2  Target
0  -0.916223   0.916000       0
1  -0.981866   0.697631       0
2  -2.795817   1.324101       0
3  -1.783646  -0.845112       1
4  -0.941334   1.515625       0