In [4]:
import pandas as pd
import numpy as np


class MyLR:
    def __init__(self):
        self.m=None
    
        self.b=None
    
    def fit(self,x_train,y_train):
        print(x_train.shape)

In [5]:
data=pd.read_csv("Student_performance.csv")

In [6]:
data.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [8]:
new_data=data.iloc[:,[1,5]]
new_data

      Previous Scores  Performance Index
0                  99               91.0
1                  82               65.0
2                  51               45.0
3                  52               36.0
4                  75               66.0
...               ...                ...
9995               49               23.0
9996               64               58.0
9997               83               74.0
9998               97               95.0
9999               74               64.0

[10000 rows x 2 columns]

pandas.core.series.Series

In [51]:

x=new_data.iloc[:,0].values

In [52]:
y=new_data["Performance Index"]

In [54]:
x.shape

(10000,)

In [47]:
y

0       91.0
1       65.0
2       45.0
3       36.0
4       66.0
        ...
9995    23.0
9996    58.0
9997    74.0
9998    95.0
9999    64.0
Name: Performance Index, Length: 10000, dtype: float64